<style>

h1{
  display: inline-block;
  text-align: center;
}
.header{
  margin-top: 70px;
  font-family: 'Bebas Neue';font-size: 40px;
  font-stretch: expanded;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(office1.jpg) no-repeat;
  background-size: cover;
}

.section{
  font-family: 'Bebas Neue';
  font-size: 30px;
}


/* Bordered form */
form {
border-radius: 25px;
 border: 3px solid #f1f1f1;
 margin-top: 30px;
 height: 40%;
 width: 30%;
 display: inline-block;
}

/* Full-width inputs */
input[type=text], input[type=password] {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
}

/* Set a style for all buttons */
button {
 background-color: #89CFF0;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
 opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
 width: auto;
 padding: 10px 18px;
 background-color: #89CFF0;
}

/* Center the avatar image inside this container */
.imgcontainer {
 text-align: center;
 margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
 width: 10%;
 border-radius: 50%;
}

/* Add padding to containers */
.container {
 padding: 16px;
}

/* The "Forgot password" text */
span.psw {
 float: right;
 padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 span.psw {
   display: block;
   float: none;
 }
 .cancelbtn {
   width: 100%;
 }
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
</style>
