* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header {
  text-align: center;
  background-color: white;
}
container {
  min-height: 100%;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 60px;
  font-family: 'Bebas Neue';font-size: 60px;
  font-stretch: expanded;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

/* Style the navigation bar links */
.navbar a {
  float: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

body {
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
}

/* ================= */

.cld-main {}
.cld-main a {
  color: #0080FF;
}
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #005EFF;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    border: 1px solid #eee;
  }
  .cld-day.today .cld-number{
    background: #0080FF;
    color: #fff;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      position: relative;
      margin: 0;
      padding: 10px;
        height: 90px;
            overflow-y: auto;
    }
      .cld-title{
          float: right;
        _position: absolute;
        _z-index: 5;
        display: block;
        _top: 35px;
        _left: 0;
          line-height: 1;
        padding: 2px 4px;
          margin: 0 0 1px 0;
        background-color: #2196F3;
        white-space: nowrap;
        border-radius: 3px;
        font-size: 12px;
      }
.cld-title span {
    color: #ffffff;
}
      .cld-number:hover .cld-title{
        display: block;
      }

      .cld-number.eventday{
        color: #0080FF;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #005EFF;
      }

      /*ADD EVENTS */
    
