
{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'blog/login.css' %}">
<script type="text/javascript" src="login.js"></script>
<link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
--></head>
<body>


<div align="center">
  <div class="header">
    <h1>Scheduling </h1>
    </div>
</div>

 <div align ="center">
  <div class ="section">
    <h3>A SIMPLE, WEB-BASED <br> EMPLOYEE SCHEDULING SOFTWARE</>
    </div>
  </div>

<div align ="center">
    <form method="POST">
        {% csrf_token %}
   <div class="imgcontainer">
     <img src="{% static 'blog/img_avatar2.png' %}" alt="Avatar" class="avatar">
   </div>

   <div class="container">
    {{ form | crispy  }}

    <button class="btn btn-outline-info" type="submit">Login now</button>
    <small class= "text-muted ml-2">
        <a href="{% url 'password_reset' %}">Forgot password</a>

    </small>
   </div>
 </form>
 </div>

  </body>
</html>
